<%- include('partials/header', {btns: 'logout'}) %>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="text-center">
          <h1 class="display-3 mb-3">Your Secrets</h1>
          <a href="/secrets">Return</a> 
        </div>
        <hr/>
          <div class="row justify-content-center">
        
          <% secrets.forEach(element =>{ %>
            <div class="secret col-auto align-items-center px-4 py-2 mb-3">
            
              <div id="<%= element._id %>" class="text-center">
               
                <h1 class="secret-text lead fs-4"><%= element.secret %></h1>
                <div class="edit-delete-btns">
                  <!--Edit btn-->
                  <button id="edit-btn" onClick="onEditClick('<%= element._id %>')" class="btn btn-sm btn-dark m-2">Edit</button>
                  <!--Delete btn-->
                  <form action="/mysecrets/delete" method="POST">
                    <button class="btn btn-sm btn-dark m-2" value="<%= element._id %>" name="id" type="submit">Delete</button>
                  </form>
                </div>
              </div>


              <div id="<%= element._id%>-edit" class="hidden">
                <div class="update-box">
                <!--update-->
                <form action="/mysecrets/update" method="POST">
                  <textarea  spellcheck="false"  class="form-control" rows="5" cols="40" name="content"><%= element.secret %></textarea>
                  <button class="btn btn-sm btn-dark m-2" value="<%= element._id %>" name="id" type="submit">Update</button>
                </form>

                <div class="cancel-delete-btns">
                  <!--Cancel btn-->
                  <button class="btn btn-sm btn-light m-2" onClick="onCancelClick('<%= element._id %>')">Cancel</button>
                  <!--Delete btn-->
                  <form action="/mysecrets/delete" method="POST">
                    <button class="btn btn-sm btn-dark m-2" value="<%= element._id %>" name="id" type="submit">Delete</button>
                  </form>
                </div></div>
              </div>

            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer') %>
